.Switch {
    width: 75px;
    height: 35px;
    background-color: #E5E4E4;
    border:  1px solid #D4D4D4;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease-in-out .13s;
    display: flex;
    position: relative;
    margin-left: 15px;
}
.Switch .Switch-toggle {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #FFF;
    transition: all ease-in-out .13s;
    position: absolute;
    top: 0;
    left: 0;
}

.Switch-active {
    background-color: #3D69BB;
    border-color: #13336E;
    }

.Switch-active .Switch-toggle {
    transform: translateX(40px);
    }